Source: zebra
Section: libs
Priority: optional
Maintainer: Vít Hrachový <vit.hrachovy@sandbox.cz>
Homepage: http://zebra.sourceforge.net
Build-Depends: debhelper (>= 7), pkg-config, libx11-dev, python-dev (>= 2.3), libgtk2.0-dev, python-gtk2-dev, libqt4-dev, libmagick++9-dev
Standards-Version: 3.8.0

Package: libzebra3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: bar code scanning and decoding library
 Zebra is a library for scanning and decoding bar codes from various
 sources such as video streams, image files or raw intensity sensors.
 It supports EAN, UPC, Code 128, Code 39 and Interleaved 2 of 5. The
 flexible, layered architecture features a fast, streaming interface
 with a minimal memory footprint.
 .
 This package contains the shared library.

Package: libzebra-dev
Section: libdevel
Architecture: any
Depends: libzebra3 (= ${binary:Version})
Conflicts: libzebra-dev
Description: bar code library extra development files
 Zebra is a library for scanning and decoding bar codes from various
 sources such as video streams, image files or raw intensity sensors.
 It supports EAN, UPC, Code 128, Code 39 and Interleaved 2 of 5. The
 flexible, layered architecture features a fast, streaming interface
 with a minimal memory footprint.
 .
 This package contains header files and additional libraries used for
 developing applications that read bar codes with this library.

Package: libzebragtk0
Section: libs
Architecture: any
Depends: libzebra3 (= ${binary:Version}), libgtk2.0-0
Description: bar code reader GTK widget
 Zebra is a library for scanning and decoding bar codes from various
 sources such as video streams, image files or raw intensity sensors.
 It supports EAN, UPC, Code 128, Code 39 and Interleaved 2 of 5. The
 flexible, layered architecture features a fast, streaming interface
 with a minimal memory footprint.
 .
 This package contains a bar code scanning widget for use with GUI
 applications based on GTK+-2.0.

Package: libzebragtk-dev
Section: libdevel
Architecture: any
Depends: libzebragtk0 (= ${binary:Version}), libgtk2.0-dev
Description: bar code reader GTK widget extra development files
 Zebra is a library for scanning and decoding bar codes from various
 sources such as video streams, image files or raw intensity sensors.
 It supports EAN, UPC, Code 128, Code 39 and Interleaved 2 of 5. The
 flexible, layered architecture features a fast, streaming interface
 with a minimal memory footprint.
 .
 This package contains header files and additional libraries used for
 developing GUI applications based on GTK+-2.0 that include a bar code
 scanning widget.

Package: python-zebrapygtk
Section: libs
Architecture: any
Depends: libzebragtk0 (= ${binary:Version}), python (>= 2.3), python-gtk2
Description: bar code reader PyGTK widget
 Zebra is a library for scanning and decoding bar codes from various
 sources such as video streams, image files or raw intensity sensors.
 It supports EAN, UPC, Code 128, Code 39 and Interleaved 2 of 5. The
 flexible, layered architecture features a fast, streaming interface
 with a minimal memory footprint.
 .
 This package contains a bar code scanning widget for use in GUI
 applications based on PyGTK.

Package: libzebraqt0
Section: libs
Architecture: any
Depends: libzebra3 (= ${binary:Version}), libqt4-0
Description: bar code reader Qt widget
 Zebra is a library for scanning and decoding bar codes from various
 sources such as video streams, image files or raw intensity sensors.
 It supports EAN, UPC, Code 128, Code 39 and Interleaved 2 of 5. The
 flexible, layered architecture features a fast, streaming interface
 with a minimal memory footprint.
 .
 This package contains a bar code scanning widget for use with GUI
 applications based on Qt4.

Package: libzebraqt-dev
Section: libdevel
Architecture: any
Depends: libzebraqt0 (= ${binary:Version}), libqt4-dev
Description: bar code reader Qt widget extra development files
 Zebra is a library for scanning and decoding bar codes from various
 sources such as video streams, image files or raw intensity sensors.
 It supports EAN, UPC, Code 128, Code 39 and Interleaved 2 of 5. The
 flexible, layered architecture features a fast, streaming interface
 with a minimal memory footprint.
 .
 This package contains header files and additional libraries used for
 developing GUI applications based on Qt4 that include a bar code
 scanning widget.

Package: zebra-tools
Section: graphics
Architecture: any
Depends: libzebra3 (= ${binary:Version}), ${shlibs:Depends}, libmagick10
Description: utilities for reading bar codes from a webcam or image files
 Zebra is a library for scanning and decoding bar codes from various
 sources such as video streams, image files or raw intensity sensors.
 It supports EAN, UPC, Code 128, Code 39 and Interleaved 2 of 5. The
 flexible, layered architecture features a fast, streaming interface
 with a minimal memory footprint.
 .
 This package provides basic applications for reading bar codes from a
 video device or from captured images of bar codes.
